.form-text {
  font-size: 0.75rem;
}

/* form {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}

fieldset {
  border-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

legend {
  text-align: center;
  padding: 0 16px;
  margin-bottom: 16px;
  font-size: 22px;
}

label,
input {
  width: 100%;
  display: block;
}

label {
  font-weight: bold;
  font-size: 12px;
}

input,
textarea {
  width: calc(100% - 18px);
  outline: none;
  padding: 8px;
  margin-bottom: 16px;
  margin-top: 4px;
  background: rgba(255, 255, 255, 0.8);
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
} */
