<form [formGroup]="form" class="form needs-validation pt-4">

  <fieldset class="row mb-4">
    <legend>Informações do usuário</legend>

    <div draggable class="col-12 mb-3 col-sm-6 form-group">
      <label class="ps-1 pb-1" [class.required]="true" for="firstName">Nome</label>
      <input
        autofocus
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Digite seu nome"
        formControlName="firstName"
        [class.is-valid]="form.get('firstName')?.valid"
        [class.is-invalid]="form.controls.firstName.touched && !form.get('firstName')?.valid" 
      />

      <div class="form-text text-danger ps-2"
        *ngIf="form.controls.firstName.touched && form.controls.firstName.errors?.['required']">
        Nome é obrigatório.
      </div>

      <div class="form-text text-danger ps-2" *ngIf="form.controls.firstName.errors?.['minlength']">
        O nome precisa ter no mínimo 3 caracteres.
      </div>

      <div class="form-text text-danger ps-2" *ngIf="form.controls.firstName.errors?.['maxlength']">
        O nome não pode ter mais que 50 caracteres.
      </div>

      <div class="form-text text-danger ps-2"
        *ngIf="!!form.controls.firstName.value && form.controls.firstName.errors?.['pattern']">
        O nome não pode conter números e caracteres especiais.
      </div>

    </div>

    <div draggable class="col-12 mb-3 col-sm-6 form-group">
      <label class="ps-1 pb-1" [class.required]="true" for="lastName">Sobrenome</label>
      <input formControlName="lastName" type="text" class="form-control" id="lastName" name="lastName"
        placeholder="Digite seu sobrenome" [class.is-valid]="form.get('lastName')?.valid"
        [class.is-invalid]="form.controls.lastName.touched && !form.get('lastName')?.valid" />

      <div class="form-text text-danger ps-2"
        *ngIf="form.controls.lastName.touched && form.controls.lastName.errors?.['required']">
        Sobrenome é obrigatório.
      </div>

      <div class="form-text text-danger ps-2" *ngIf="form.controls.lastName.errors?.['minlength']">
        O sobrenome precisa ter no mínimo 3 caracteres.
      </div>


      <div class="form-text text-danger ps-2" *ngIf="form.controls.lastName.errors?.['maxlength']">
        O sobrenome não pode ter mais que 50 caracteres.
      </div>


      <div class="form-text text-danger ps-2"
        *ngIf="!!form.controls.lastName.value && form.controls.lastName.errors?.['pattern']">
        O sobrenome não pode conter números e caracteres especiais.
      </div>


    </div>

    <div draggable class="col-12 mb-3 col-sm-6 form-group">
      <label class="ps-1 pb-1" [class.required]="true" for="email">Email</label>
      <input formControlName="email" type="email" class="form-control" id="email" name="email"
        placeholder="Digite seu email" [class.is-valid]="form.get('email')?.valid"
        [class.is-invalid]="form.controls.email.touched && !form.get('email')?.valid" />

      <div class="form-text text-danger ps-2"
        *ngIf="form.controls.email.touched && form.controls.email.errors?.['required']">
        Email é obrigatório.
      </div>

      <div class="form-text text-danger ps-2" *ngIf="form.controls.email.errors?.['minlength']">
        O Email prescisa ter no mínimo 8 caracteres.
      </div>

      <div class="form-text text-danger ps-2" *ngIf="form.controls.email.errors?.['maxlength']">
        O Email não pode ter mais que 50 caracteres.
      </div>

      <div class="form-text text-danger ps-2" *ngIf="form.controls.email.errors?.['email']">
        Email inválido. Favor digitar um email válido.
      </div>
    </div>

    <div draggable class="col-12 mb-3 col-sm-6 form-group">
      <label class="ps-1 pb-1" [class.required]="true" for="phone">Telefone</label>
      <input formControlName="phone" type="tel" class="form-control is-valid" id="phone" name="phone"
        placeholder="Digite seu telefone" [class.is-valid]="form.get('phone')?.valid"
        [class.is-invalid]="form.controls.phone.touched && !form.get('phone')?.valid" />

      <div class="form-text text-danger ps-2"
        *ngIf="form.controls.phone.touched && form.controls.phone.errors?.['required']">
        Telefone é obrigatório.
      </div>

      <div class="form-text text-danger ps-2" *ngIf="form.controls.phone.errors?.['minlength']">
        O Telefone prescisa ter no mínimo 11 caracteres.
      </div>

      <div class="form-text text-danger ps-2" *ngIf="form.controls.phone.errors?.['maxlength']">
        O Telefone não pode ter mais que 15 caracteres.
      </div>

      <div class="form-text text-danger ps-2"
        *ngIf="!!form.controls.phone.value && form.controls.phone.errors?.['pattern']">
        O telefone não pode conter letras e caracteres especiais.
      </div>

    </div>

    <div draggable class="col-12 mb-3 col-sm-6 form-group">
      <label class="ps-1 pb-1" [class.required]="true" for="password">Senha</label>
      <input formControlName="password" type="password" class="form-control" id="password" name="password"
        placeholder="Digite sua senha" [class.is-valid]="form.get('password')?.valid"
        [class.is-invalid]="form.controls.password.touched && !form.get('password')?.valid" />

      <div class="form-text text-danger ps-2"
        *ngIf="form.controls.password.touched && form.controls.password.errors?.['required']">
        A senha é obrigatório.
      </div>

      <div class="form-text text-danger ps-2" *ngIf="form.controls.password.errors?.['minlength']">
        A senha prescisa ter no mínimo 8 caracteres.
      </div>

      <div class="form-text text-danger ps-2"
        *ngIf="!!form.controls.password.value && form.controls.password.errors?.['pattern']">
        A senha precisa conter no mínimo um número, 1 caractere minúsculo, 1 maiúsculo e 1 caractre especial.
      </div>

    </div>

    <div draggable class="col-12 mb-3 col-sm-6 form-group">
      <label class="ps-1 pb-1" [class.required]="true" for="confirmPassword">Confirmar senha</label>
      <input formControlName="confirmPassword" type="password" class="form-control " id="confirmPassword"
        name="confirmPassword" placeholder="Digite sua senha novamente"
        [class.is-valid]="form.get('confirmPassword')?.valid"
        [class.is-invalid]="form.controls.confirmPassword.touched && !form.get('confirmPassword')?.valid" />

      <div class="form-text text-danger ps-2"
        *ngIf="form.controls.confirmPassword.touched && form.controls.confirmPassword.errors?.['required']">
        A confirmação de senha é obrigátoria.
      </div>

      <div class="form-text text-danger ps-2"
        *ngIf="form.controls.confirmPassword.touched && form.controls.confirmPassword.errors?.['incorrect']">
        As senhas não combinam. Favor tentar novamente.
      </div>

    </div>

  </fieldset>

</form>
