<form [formGroup]="form" class="form needs-validation pt-4">

  <fieldset class="row mb-4">
    <legend>Informações do endereço</legend>

    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
      <label class="ps-1 pb-1" [class.required]="true" for="number">Número</label>
      <input formControlName="number" type="text" class="form-control" id="number" name="number"
        placeholder="Digite seu número" [class.is-valid]="form.get('number')?.valid"
        [class.is-invalid]="form.controls.number.touched && !form.get('number')?.valid" />

      <div class="form-text text-danger"
        *ngIf="form.controls.number.touched && form.controls.number.errors?.['required']">
        O número é obrigatório.
      </div>

      <div class="form-text text-danger" *ngIf="form.controls.number.errors?.['minlength']">
        O Número prescisa ter no mínimo 1 caracteres.
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
      <label class="ps-1 pb-1" [class.required]="true" for="street">Rua</label>
      <input formControlName="street" type="text" class="form-control" id="street" name="street"
        placeholder="Digite sua rua" [class.is-valid]="form.get('street')?.valid"
        [class.is-invalid]="form.controls.street.touched && !form.get('street')?.valid" />

      <div class="form-text text-danger"
        *ngIf="form.controls.street.touched && form.controls.street.errors?.['required']">
        A rua é obrigatória.
      </div>

      <div class="form-text text-danger" *ngIf="form.controls.street.errors?.['minlength']">
        A rua prescisa ter no mínimo 3 caracteres.
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-5 mb-3">
      <label class="ps-1 pb-1" [class.required]="true" for="neighborhood">Bairro</label>
      <input formControlName="neighborhood" type="text" class="form-control" id="neighborhood" name="neighborhood"
        placeholder="Digite seu bairro" [class.is-valid]="form.get('neighborhood')?.valid"
        [class.is-invalid]="form.controls.neighborhood.touched && !form.get('neighborhood')?.valid" />

      <div class="form-text text-danger"
        *ngIf="form.controls.neighborhood.touched && form.controls.neighborhood.errors?.['required']">
        O bairro é obrigatório.
      </div>

      <div class="form-text text-danger" *ngIf="form.controls.neighborhood.errors?.['minlength']">
        O bairro prescisa ter no mínimo 3 caracteres.
      </div>

      <div class="form-text text-danger" *ngIf="form.controls.neighborhood.errors?.['pattern']">
        O bairro não pode conter números e caracteres especiais.
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
      <label class="ps-1 pb-1" [class.required]="true" for="zipcode">CEP</label>
      <input formControlName="zipcode" type="text" class="form-control" id="zipcode" name="zipcode"
        placeholder="Digite seu CEP" [class.is-valid]="form.get('zipcode')?.valid"
        [class.is-invalid]="form.controls.zipcode.touched && !form.get('zipcode')?.valid" />

      <div class="form-text text-danger"
        *ngIf="form.controls.zipcode.touched && form.controls.zipcode.errors?.['required']">
        O CEP é obrigatório.
      </div>

      <div class="form-text text-danger" *ngIf="form.controls.zipcode.errors?.['minlength']">
        O CEP prescisa ter no mínimo 8 caracteres.
      </div>

      <div class="form-text text-danger" *ngIf="form.controls.zipcode.errors?.['pattern']">
        O CEP não pode conter letras.
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
      <label class="ps-1 pb-1" [class.required]="true" for="city">Cidade</label>
      <input formControlName="city" type="text" class="form-control" id="city" name="city"
        placeholder="Digite sua cidade" [class.is-valid]="form.get('city')?.valid"
        [class.is-invalid]="form.controls.city.touched && !form.get('city')?.valid" />

      <div class="form-text text-danger" *ngIf="form.controls.city.touched && form.controls.city.errors?.['required']">
        A cidade é obrigatória.
      </div>

      <div class="form-text text-danger" *ngIf="form.controls.city.errors?.['minlength']">
        A cidade prescisa ter no mínimo 3 caracteres.
      </div>

      <div class="form-text text-danger" *ngIf="form.controls.city.errors?.['pattern']">
        A cidade não pode conter números e caracteres especiais.
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-5 mb-3">
      <label class="ps-1 pb-1" [class.required]="true" for="state">Estado</label>
      <input formControlName="state" type="text" class="form-control" id="state" name="state"
        placeholder="Digite seu estado" [class.is-valid]="form.get('state')?.valid"
        [class.is-invalid]="form.controls.state.touched && !form.get('state')?.valid" />

      <div class="form-text text-danger"
        *ngIf="form.controls.state.touched && form.controls.state.errors?.['required']">
        O estado é obrigatório.
      </div>

      <div class="form-text text-danger" *ngIf="form.controls.state.errors?.['minlength']">
        O estado prescisa ter no mínimo 2 caracteres.
      </div>

      <div class="form-text text-danger" *ngIf="form.controls.state.errors?.['pattern']">
        O estado não pode conter números e caracteres especiais.
      </div>

    </div>

    <div class="col-12 mb-3">
      <label class="ps-1 pb-1" [class.required]="false" for="complement">Complemento</label>
      <input formControlName="complement" type="text" class="form-control" id="complement" name="complement"
        placeholder="Digite um complemento (opcional)">
    </div>

  </fieldset>

</form>
