/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

.required::after {
  content: " *";
  color: red;
}

html,
body {
  height: 100% !important
}

main {
  min-height: 100%;
}
